body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;

    background-color: #f0f4f7;
}
html {scroll-behavior: smooth;}
* {
    outline: none;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    text-decoration: none;
}
section#info {
    padding: 10% 10%;
    padding-bottom: 0;
}
a { color: white; text-decoration: none; }

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    color: white;
    font-size: 18px;

    transition: .25s;
    z-index: 1000;
    min-height: 90px;
    padding: 25px 10%;
}
nav .logo {
    padding-top: 7px;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}
nav .logo span:nth-of-type(1) {
    font-size: 26px;
    font-weight: 800;
    letter-spacing: -.5px;
    line-height: 0.7;
}
nav .logo span:nth-of-type(2) {
    opacity: 0.5;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.28px;
    color: white;
}
nav .buttons {
    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    flex-direction: row;

    min-height: 90px;
    padding: 0 10%;
    padding-top: 35px;
}
nav .buttons .button {
    display: flex;
    flex-direction: column;
    text-align: center;

    padding: 0 15px;
    width: 90px;

    font-size: 11px;
}
nav .buttons .button img {
    height: 25px;
    margin-bottom: 5px;
    opacity: .5;
}
nav .buttons .button * { transition: .5s; }
nav .buttons .button span { opacity: 0; font-weight: 600; line-height: 0.95; }
nav .buttons .button:hover { cursor: pointer; }
nav .buttons .button:hover img, nav .buttons .button:hover span { opacity: 1; }

section.main {
    height: 100vh;
    width: 100%;
    background: url(./img/bg1.jpg);
    background-position: center;
}

section .container {
    width: 100%;
    height: 100%;
    background: rgba(161, 216, 153, 0.6);
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2.5em;
    padding: 2em;
    text-align: center;
}

section .container .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section.main .arrowDown {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;

    animation: sliding 2s infinite;
}


@keyframes sliding {
    0% {
        transform: translateX(-50%) translateY(0%);
    }

    50% {
        transform: translateX(-50%) translateY(50%);
    }

    100% {
        transform: translateX(-50%) translateY(0%);
    }
}

section.main b, nav b, footer b {
    color: white;
    font-weight: 700;
}
section.main p, nav, footer { color: rgba(255, 255, 255, .9); }

section.info {
    display: flex;
    padding-right: 5%;
}

section.info div.left {
    width: 60%;
    padding: 50px;
    background-color: #b2d2ad;
    border-radius: 20px;
    text-align: justify;
    position: relative;
    margin: 10%;
    margin-left: 15%;
    margin-right: 0;
}
section.info div.left img {
    left: 0;
    top: 0;

    position: absolute;
    transform: translate(-45%, -30%);

    opacity: .85;
}
section.info div.right {
    width: 40%;
    margin-left: 50px;
}
section.info div.right .block {
    padding: 25px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 10px;
    position: relative;

    transition: .5s;
}
section.info div.right .block:hover {
    cursor: pointer;
    transform: scale(1.1);
}
section.info div.right .block:hover img { opacity: 1; }
section.info div.right .block:hover span { opacity: .7; }
section.info div.right .block img {
    height: 32px;
    opacity: 0.6;
    position: absolute;
    bottom: 18px;
    border-radius: 10px;
    transition: .5s;
}
section.info div.right .block span {
    opacity: .3;
    text-align: right;
    display: block;
    font-weight: 800;
    transition: .5s;
}
section.info div.right .block p {
    color: black;
    opacity: .5;
}
section.info .button {
    width: 169px;
    height: 45px;
    margin-top: 36px;
    margin-bottom: 0;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    background-color: rgba(255,255,255,.15);
    color: #fff;
    font-weight: 800;

    transition: .5s;
}
section.info .button:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,.25);
}
section.info .left p {
    margin: 0;
}

p.header {
    font-weight: 800;
    line-height: 2.5rem;
    margin: 0 0 2rem;
    font-size: 2rem;
    color: #fff;
}

p {
    margin: 0 0 16px;
    color: rgba(255,255,255,.9);
    line-height: 1.5;
    font-weight: 400;
}

b {
    color: #fff;
    font-weight: 800;
}

footer {
    width: 100%;
    background: #212121;
    color: white;
    font-size: 14px;
    padding: 20px 25px;
    display: flex;
}

footer .left { width: 50%; }
footer .right { width: 50%; text-align: right; }
footer svg {
    height: 10px;
    margin-right: 1em;
}

footer svg:hover .cls-1 { fill: #436eab; }

section.manual {
    display: grid;
    margin: 0 20%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10%;
    padding-top: 10%;
}
section.manual .step:hover {
    cursor: pointer;
    transform: scale(1.1);
}
section.manual .step {
    background-color: white;
    border-radius: 10px;
    margin: 25px 10px;
    position: relative;

    height: fit-content;
    transition: .5s;
}
section.manual .step .preview {
    width: 100%;
    height: 300px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    position: relative;
}
section.manual .step .preview span {
    width: 10vw;
    height: 10vw;

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: rgba(255,255,255,.2);
    border-radius: 50%;
    margin: 0 auto 50px;

    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}
section.manual .step .preview .button {
    width: 80%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    background-color: white;
    color: #b2d2ad;
    font-weight: 800;

    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);

    transition: .5s;
}
section.manual .step .preview .button:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,.7);
}
section.manual .step .preview span img { width: 50%; opacity: .7; }
section.manual .step .count {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);

    width: 66px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255,255,255,.7);
    border-radius: 5px;
    color: rgba(0,0,0,.5);
    font-weight: 800; 
    font-size: 14px;

    z-index: 999;
}
section.manual .step .text {
    padding: 25px 15px;
    text-align: center; 
    line-height: 0.95;
}
section.manual .step .text b {
    color: rgba(226, 99, 99, 0.7);
}

@media only screen and (max-width: 800px) {
    section.info { display: block; }
    section.info { padding: 20% 0; }
    section.info div.right { width: 90%; margin-left: 10%; display: flex; flex-direction: column; align-items: center; }
    section.info div.right .block { margin-right: 0!important; }
    section.info div:nth-of-type(1) { width:90%!important; text-align: left!important; }
    section.manual .step .preview span { width: 30vw; height: 30vw; }

    section.manual { display: block; }

    section.join .container a {
        line-height: 1!important;
        font-size: 0.8em;
        padding: 12px 16px;
    }
}